<!-- Header -->
<header id="header">
  <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="Pat Horsley" /></a>
  <h1><strong>I'm Pat</strong>, a web developer<br /> from Wellington, New Zealand </h1>

  <ul class="menu">
    <li><a class="page-link" href="/cv">CV</a></li>
    <li><a class="page-link" href="/about/">About Me</a></li>
    <li><a class="page-link" href="/tag/project">Projects</a></li>
    <!-- <li><a class="page-link" href="/tag/code">Code Excercises</a></li> -->
    <!-- <li><a class="page-link" href="/self-guided-study/">Study</a></li> -->
    <!-- <li><a class="page-link" href="/activity/">Activity</a></li> -->
  </ul>
</header>
