.menu{
  margin-top:40px;

  a{
    border-bottom:0 none;
    &:hover{

    }
  }
  li{
    list-style-type:none;
  }
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
}

.post-list{
  margin-left:0;
  padding-left:0;

  li{
    margin-left:0;
    padding-left:0;
    list-style-type:none;
  }
  h2{
    font-size:1em;
  }
  .post-tag{
    display:inline-block;
    border:1px solid #e3e3e3;
    margin:0px 2px;
    padding:3px 3px 4px;
    border-radius:3px;
    line-height:0.9em;
    font-size:0.8em;
		@include vendor-property('transition', all #{$duration-transition});
  }
  .post-date{
    font-size:0.9em;
    display: inline-block;
    margin-right: 5px;
    color: #e5e5e5
  }
}

a.post-tag{color:#FFF; opacity:0.5;}
a.post-tag:hover{opacity:1; color:#fff!important;}

.post-tag{
  border-color:#95a5a6;
  background-color:#95a5a6;
}
.post-tag.post-ruby{
  border-color:#AC1401;
  background-color:#AC1401;
}

.post-tag.post-code-exercise,
.post-tag.post-code{
  border-color:#2980b9;
  background-color:#2980b9;
}

.post-tag.post-js{
  border-color:#F0DB4F;
  background-color:#F0DB4F;
}

.post-tag.post-php{
  border-color:#8892BF;
  background-color:#8892BF;
}

.post-tag.post-rails{
  border-color:#981A21;
  background-color:#981A21;
}

.post-tag.post-project{
  border-color:#232323;
  background-color:#232323;
}

.post-tag.post-react{
  border-color:#61dafb;
  background-color:#61dafb;
}

.post-tag.post-tutorial{
  border-color:#2CC36B;
  background-color:#2CC36B;
}

.post-tag.post-frontend{
  border-color:#f39c12;
  background-color:#f39c12;
}

.post-tag.post-wordpress-multisite,
.post-tag.post-wordpress{
  border-color:#c0392b;
  background-color:#c0392b;
}

// .post-tag.post-slimphp{
//   border-color:#c0392b;
//   background-color:#c0392b;
// }


ul ul{
  margin-bottom: 5px;
  li{
    list-style-type:circle;
    ul li{
      list-style-type:square;
    }
  }
}

.deemphasize{
  font-size:0.8em;
  font-size:0.8rem;
  color:#c5c5c5;
}

.cv-template {
  h2{
    color: #49bf9d;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom:5px;
  }
  h3{
    margin-bottom:3px;
  }
  h4 {
    font-style: italic;
    color: #969696;
  }
}


@media print {
  #header,
  #footer{ display:none; }
  #main {margin-left: 0; width: 100%;}
}
